@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Color1: #1B1D1F;
  --Color2: #282B30;
  --Color3: #4E80EE;
  --Color4: #6C727F;
  --Color5: #D2D5DA;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: "Be Vietnam Pro",
    sans-serif;
  background-color: var(--Color1);
}

input,
button {
  font: inherit
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img {
  height: auto;
  max-width: 100%;
}